.container {
  position: relative;
}

.text-block {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

#title {
  font: 45px times;
  align: center;
  top: -20px;
}

#story-title {
  font: italic 30px monospace;
  font-weight: bold;
  text-align: center;
}

#list {
  bottom: 20px;
  right: 20px;
}

p {
  background-color: white;
  color: #333;
  text-indent: 30px;
  border: 0.5px solid black;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  text-align: left;  
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
}

.pic {
  height: 150px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: 6px;
  border: 4px ridge rgb(250, 250, 150);
  float: left;
}

#opening {
  font-weight: bold;
}

#story {
  float: left;
  margin: auto;
  padding: 10px;
  background-color: white;         
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.6em;
  font-size: 14px;
}
