body {
  background-image: url(https://i.kym-cdn.com/entries/icons/mobile/000/036/061/cover2.jpg);
  background-position: right bottom, left top;
  background-repeat: repeat;
  background-attachment: fixed;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.right-side { 
  width: 30%;  
  float: right; 
  position: fixed; 
  right: 0px; 
  
}

#title {
  font: 45px times;
  top: -20px;
}

#story-title {
  font: italic 30px monospace;
  font-weight: bold;
}

#list {
  bottom: 20px;
  right: 20px;
}

p {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;

}

.pic {
  height: 150px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: 6px;
  float: left;
}

#bold {
  font-weight: bold;
}

#story {
  width: 70%;        
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.6em;
  font-size: 14px;
  color: white;
  background-color: black;
  padding-top: 10px;
  border-radius: 20px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

