body {
  background-color: black;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.right-side { 
  width: 28%;  
  float: right; 
  position: relative; 
  right: 0px; 
  padding-left: 18px;
  
}

#title {
  font: 45px times;
  align: center;
  top: -20px;
}

#story-title {
  font: italic 30px monospace;
  font-weight: bold;
  
}

#list {
  bottom: 20px;
  right: 20px;
}

p {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
}

.pic {
  height: 150px;
  margin-top: 6px;
  margin-right: 10px;
  margin-left: 6px;
  float: left;
}

#bold {
  font-weight: bold;
}

#story {
  width: 70%;
  padding: 10px;
  background-color: white;         
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.6em;
  font-size: 14px;
}
